body {
  background-color: #1a202c;
}
.wrapper{
  width: auto;
  text-align: center;
  padding: 15px;
}
.img-banner{
  display: none;
}
.image-info{
  width: 100%;
  }
  .image-info h1  {
    padding: 15px 30px 20px 30px;
    color: #e0e1e2;
    font-family: 'Aboreto', cursive;
    font-size: 5vw;
    line-height: 35px;
    text-align: center;
  }
  .image-info p  {
    padding: 3.5px 30px 20px 30px;
    color: #e0e1e2;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    line-height:35.5px;
  }
  .JU-me{
    padding-left: 0;
    object-fit: cover;
    width: 100%;
    max-height: auto;
  }
